@import '../../../../index.scss';
.about-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 20em;
    width: 100%;
    .about-section-content {
        width: 80vh;
        padding-bottom: 6em;
    }
    .about-section-img{
        width: 70vh;
        height: 60vh;
        background: no-repeat url('../../../../assets/laptop-yellow.jpg');
        // background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../../assets/laptop-yellow.jpg');
        background-size: 100%;
    }

}