@import '../../index.scss';
.main-container-page {
    display: flex;
    flex-direction: column;
    height: 378vh;
    background-image: url('../../assets/white-bg-line.jpg');
    // background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/white-bg-line.jpg');
    // background-color: rgba(0, 0, 0, 0.5);
    background-attachment: fixed;
    background-size: cover;
    .home-section-container {
        display: flex;
        position: relative;
    }
    .services-section-container {
        position: relative;
    }
    .about-section-container {
        position: relative;
    }
    .contact-section-container {
        position: relative;
    }
    .footer-container {
        position: relative;
    }
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}