@import '../../../../index.scss';
.nav-container {
    background-color: rgba(235, 237, 238, 0.6);
    height: 3em;
    box-shadow: 0 20px 20px -5px $purple;
    display: flex;
    justify-content: center;
    // border-radius: $roundCornders;
    .nav-container-list {
        display: flex;
        align-items: center;
        width: 74%;
        .nav-container-logo {
            display: flex;
            align-items: center;
            width: 20%;
        }
        .nav-container-menu {
            display: flex;
            justify-content: end;
            width: 80%;
            cursor: pointer;
            .nav-menu-item {
                width: 20%;
                a, a:hover, a:focus, a:active {
                    text-decoration: none;
                    color: inherit;
                }

            }
            .nav-menu-item:hover {
                color: $purple;
            }
        }
    }

}