@import '../../../../index.scss';
.services-section {
    position: relative;
    top: 14em;
    // background-color: rgba(235, 237, 238, 0.6);
    height: 85vh;
    padding: 2em;
    .services-section-title {
        margin-bottom: 2em;
    }
    .services-cards-container {
        display: flex;
        justify-content: space-around;
        .service-card {
            width: 20em;
            height: 25em;
            padding: 1em;;
            border-radius: $roundCorners;
            box-shadow: $shadow;
            background-color: rgb(235, 237, 238);
            transition: transform 0.25s;
            z-index: 12;
        }
        .service-card:hover {
            cursor: pointer;
            transform: translateY(-0.25em);
        }
    }
    .modal-container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 12;
    }
}